
&radio {
	status = "okay";
	dfe-ant-num = < 12 >;
	dfe-pdu-ant = <0x2>;

	dfegpio0-gpios = <&gpio0 3 0>;
	dfegpio1-gpios = <&gpio0 4 0>;
	dfegpio2-gpios = <&gpio0 28 0>;
	dfegpio3-gpios = <&gpio0 29 0>;
};